---
import ContactForm from '../components/ContactForm.astro';
import Experiance from '../components/Experiance.astro';
import InfoCard from '../components/InfoCard.astro';
import Projects from '../components/Projects.astro';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="flex flex-col lg:flex-row justify-between items-center gap-32 pt-32 lg:pt-0">
		<Welcome />
		<InfoCard />
	</div>
	<div class="grid gap-20 mt-15">
		<Projects />
		<Experiance />
	</div>
	<div class="mt-15">
		<ContactForm />
	</div>
</Layout>
