---
import ContactForm from '../components/ContactForm.astro';
import Experiance from '../components/Experiance.astro';
import InfoCard from '../components/InfoCard.astro';
import Projects from '../components/Projects.astro';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="grid grid-flow-col gap-6 pb-20">
		<Welcome />
		<InfoCard />
	</div>
	<div class="grid gap-20">
		<Projects />
		<Experiance />
	</div>
	<div class="mt-15">
		<ContactForm />
	</div>
</Layout>
