<section class="w-xl">
  <h3 class="text-5xl mb-8 underline underline-offset-8 decoration-blue-500">Contact Me</h3>
  <form action="https://formspree.io/f/xbdzdvbn" method="post">
    <div class="flex flex-col gap-6">
      <input type="text" name="name" placeholder="Name" class="bg-[#F0F0F0] dark:bg-blue-950 dark:text-gray-300 text-gray-600 px-3 py-3">
      <input type="email" name="email" placeholder="Email" class="bg-[#F0F0F0] dark:bg-blue-950 dark:text-gray-300 text-gray-600 px-3 py-3">
      <input type="text" name="message" placeholder="Message" class="bg-[#F0F0F0] dark:bg-blue-950 dark:text-gray-300 text-gray-600 px-3 pt-3 pb-15">
    </div>
    <button type="submit" class="bg-blue-500 px-8 py-3 rounded-xs mt-6">Send</button>
  </form>
</section>