---
import location from "../assets/location.svg"
import website from "../assets/website.svg"

---

<section class="bg-white dark:bg-[#032B52] rounded-xl max-w-sm">
  <div class="pt-10 px-6 pb-4">
    <div class="flex items-center">
      <div>
        <img src="https://media.licdn.com/dms/image/v2/C4D03AQGejhdK0W0hBQ/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1603231908196?e=2147483647&v=beta&t=un5nGN21NBLbDtFZzqPmiJyMVKucaDTyfKWnWKiAfgk" class="rounded-full w-3/4" alt="Me">
      </div>
      <div>
        <div class="font-bold">Ben</div>
        <a href="https://github.com/BeniBoy224" target="_blank" class="text-blue-500 dark:text-gray-200">@Beniboy224</a>
      </div>
    </div>
    <div class="py-6">
      <p class="text-wrap">Hi, I'm Ben, a software developer who enjoys building solutions and solving problems through code. Lately, I've been exploring artificial intelligence and looking for opportunities to learn more and apply AI in modern software development.</p>
    </div>
    <div class="flex flex-col gap-4">
      <div class="flex gap-3 items-center">
        <img src={location.src} class="dark:invert" alt="Location">
        <span>Halifax, UK</span>
      </div>
      <div class="flex gap-3 items-center">
        <img src={website.src} class="dark:invert" alt="Website">
        <a href="https://beniboy224.github.io" class="hover:underline hover:decoration-blue-500">beniboy224.github.io</a>
      </div>
    </div>
    <div class="flex gap-3 pt-6">
      <a href="https://github.com/beniboy224" class="underline decoration-blue-500">Github</a>
      <a href="" class="underline decoration-blue-500">LinkedIn</a>
    </div>
  </div>
</section>

