---

---

<div>
	<section class="text-black dark:text-white text-5xl flex flex-col gap-5">
		<h1>Hi, I'm <span class="bold underline text-blue-500 font-bold">Ben</span></h1>
		<h2>A <span class="font-bold">Software Developer</span></h2>
	</section>
</div>
