---
import moon from "../assets/moon.svg";
import sun from "../assets/sun.svg";
import '../styles/global.css';

//px-48 py-28
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="generator" content={Astro.generator} />
  <title>Ben Thompson</title>
</head>
<body>
  <header>
		<div>
      <button id="theme-toggle" class="absolute top-0 right-0 pl-10 pb-10 bg-blue-900 dark:bg-amber-300 rounded-bl-full">
        <img src={moon.src} alt="Moon icon" class="block dark:hidden pt-3 pr-3" />
        <img src={sun.src} alt="Sun icon" class="hidden dark:block pt-3 pr-3" />
      </button>
		</div>
  </header>
  <main class="px-6 py-6 lg:px-48 lg:py-28">
    <slot />
  </main>
  <footer>
    <div class="px-6 py-4">
      <p class="text-center text-gray-500 dark:text-gray-400">© {new Date().getFullYear()} beniboy224.github.io. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>

<style>
  html, body {
    background-color: #eae8e8;
		height: full;
  }
  html.dark body {
    background-color: #031424;
    color: #fff;
  }
</style>

<script>
  // Apply saved theme on load
  if (
    localStorage.theme === "dark" ||
    (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)
  ) {
    document.documentElement.classList.add("dark");
  } else {
    document.documentElement.classList.remove("dark");
  }

  // Attach listener after DOM is ready
  document.getElementById("theme-toggle")?.addEventListener("click", () => {
    const isDark = document.documentElement.classList.toggle("dark");
    localStorage.theme = isDark ? "dark" : "light";
  });
</script>